@keyframes fadeIn {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
  }
}

@keyframes fadeInBot {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
  }
}

@keyframes fadeInTop {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0px);
  }
}

@keyframes fadeInLeftBig {
  0% {
    -webkit-transform: translateX(-100px);
  }
  100% {
    -webkit-transform: translateX(0px);
  }
}

@keyframes fadeInRightBig {
  0% {
    -webkit-transform: translateX(100px);
  }
  100% {
    -webkit-transform: translateX(0px);
  }
}

.fade {
  transition: opacity 0.7s ease-in;
}

.aboutFade {
  transition: opacity 0.7s ease-in;
  width: 500px;
  height: 500px;
}

.aboutFadetwo {
  transition: opacity 0.7s ease-in;
  height: 500px;
  width: 500px;
}

.fadeaff {
  transition: opacity 0.5s ease-in;
  transition-delay: 0.2s;
}

.fadeDemo {
  transition: opacity 0.5s ease-in;
  transition-delay: 0.5s;
}

.fadeDestro {
  transition: opacity 0.5s ease-in;
  transition-delay: 0.8s;
}

.fadeOut {
  opacity: 0;
}

.fadeIn {
  opacity: 1;
}

.fadeInLeft {
  animation-duration: 1.3s;
  animation-name: fadeInLeftBig;
}

.fadeInRight {
  animation-duration: 1.3s;
  animation-name: fadeInRightBig;
}

@media (max-width: 414px) {
  .aboutFade {
    margin: 0px 30px 0px 30px;
    justify-content: center;
    height: 270px;
  }

  .aboutFadetwo {
    margin: 0px 30px 0px 30px;
    height: 270px;
    width: 200px;
  }
}

@media (min-width: 415px) and (max-width: 960px) {
  .aboutFade {
    height: 200px;
    margin: 30px 0px;
  }

  .aboutFadetwo {
    display: flex;
    justify-content: center;
    height: auto;
  }
}
